<aside class="h-screen top- w-[20%] bg-white fixed inset-y-0 left-0">

    <div class="m-[24px] mt-[50px]">

        <div class="mb-[58px]">
            <app-avatar img="/assets/profile-img.png" 
                primaryName="Teste" 
                size="size-[48px] rounded-full">
            </app-avatar>
        </div>

        
        <div>
            <div>
                <ul>
                    <a routerLink="/" routerLinkActive="bg-blue-700 text-white hover:bg-blue-700" [routerLinkActiveOptions]="{exact: true}" class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Início</li>
                    </a>
                    <a routerLink="/movies" [class]="isActive() ? 'bg-blue-700 text-white' : 'hover:bg-blue-300'" class="h-[42px] flex items-center rounded-[4px]">
                        <li class="m-[12px]">Filmes</li>
                    </a>
                </ul>
            </div>
            <div class="mt-[42px] mb-[46px]">
                <ul>
                    <a class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Configurações</li>
                    </a>
                    <a class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Sair</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>

</aside>
