<div class="p-[35px] h-full bg-white rounded-[12px] flex flex-col justify-between items-start">

    <h3 class="font-semibold text-[30px]">Elenco</h3>

    <div class="mt-[16px]">
        <div class="mb-[20px]">
            <app-avatar img="/assets/careca.jpg" 
                primaryName="Jason Statham" 
                secondaryName="Jonas Taylor" 
                size="size-[80px] rounded-full">
            </app-avatar>
        </div>
        <div class="mb-[20px]">
            <app-avatar img="/assets/careca.jpg" 
                primaryName="Jason Statham" 
                secondaryName="Jonas Taylor" 
                size="size-[80px] rounded-full">
            </app-avatar>
        </div>
        <div class="mb-[20px]">
            <app-avatar img="/assets/careca.jpg" 
                primaryName="Jason Statham" 
                secondaryName="Jonas Taylor" 
                size="size-[80px] rounded-full">
            </app-avatar>
        </div>
        <div class="mb-[20px]">
            <app-avatar img="/assets/careca.jpg" 
                primaryName="Jason Statham" 
                secondaryName="Jonas Taylor" 
                size="size-[80px] rounded-full">
            </app-avatar>
        </div>
    </div>

    <app-common-button class="justify-self-end self-end"></app-common-button>
    
</div>
