<div class="p-[35px] h-full bg-white rounded-[12px] flex flex-col justify-between items-start">
    <h3 class="font-semibold text-[30px]">Elenco</h3>
    <div class="flex items-center">
        <img src="/assets/careca.jpg" class="w-[80px] h-[80px] rounded-[80px]" alt="cast">
        <div class="flex flex-col mx-[10px]">
            <p class="ml-[8px] text-[24px] font-semibold">Jason Statham</p>
            <p class="ml-[8px] text-[20px]">Jonas Taylor</p>
        </div>
    </div>
    <div class="flex items-center">
        <img src="/assets/careca.jpg" class="w-[80px] h-[80px] rounded-[80px]" alt="cast">
        <div class="flex flex-col mx-[10px]">
            <p class="ml-[8px] text-[24px] font-semibold">Jason Statham</p>
            <p class="ml-[8px] text-[20px]">Jonas Taylor</p>
        </div>
    </div>
    <div class="flex items-center">
        <img src="/assets/careca.jpg" class="w-[80px] h-[80px] rounded-[80px]" alt="cast">
        <div class="flex flex-col mx-[10px]">
            <p class="ml-[8px] text-[24px] font-semibold">Jason Statham</p>
            <p class="ml-[8px] text-[20px]">Jonas Taylor</p>
        </div>
    </div>
    <div class="flex items-center">
        <img src="/assets/careca.jpg" class="w-[80px] h-[80px] rounded-[80px]" alt="cast">
        <div class="flex flex-col mx-[10px]">
            <p class="ml-[8px] text-[24px] font-semibold">Jason Statham</p>
            <p class="ml-[8px] text-[20px]">Jonas Taylor</p>
        </div>
    </div>
    <div class="justify-self-end self-end">
        <button class="flex items-center bg-blue-600 hover:bg-blue-900 text-white font-bold py-3 px-3 rounded cursor-pointer">
            Ver mais 
            <img src="/assets/arrow-forward-outline.png" class="ml-[19px] w-[20px] h-[20px]" alt="see-more">
        </button>
    </div>
</div>
