<div class="p-[35px] h-full bg-white rounded-[12px]">
   <div>
      <img [src]="movieImg" class="w-full rounded-[10px]" alt="movie-img">
   </div>
   <div>
      <div class="flex items-center mt-[20px]">
         <div class="flex items-center justify-center bg-blue-700 w-[30%] h-[60px] rounded-[6px]">
            <img src="/assets/star.png" class="w-[25px] h-[25px]" alt="star">
            <span class="mx-[10px] text-[25px] text-white">9.4</span>
         </div>
         <div class="mx-[40px]">
            <div>
               <p>Dirigido por <span class="font-bold">Ben Wheatley</span></p>
            </div>
            <div>
               <p>Lançado em 3 de agosto de 2023</p>
            </div>
         </div>
      </div>
      <div class="flex justify-between mt-[20px]">
         <div class="flex items-center justify-center bg-blue-700 w-[25%] h-[50px] rounded-[6px]">
            <p class="text-[16px] text-white">Ação</p>
         </div>
         <div class="flex items-center justify-center bg-blue-700 w-[25%] rounded-[6px]">
            <p class="text-[16px] text-white">Terror</p>
         </div>
         <div class="flex items-center justify-center bg-blue-700 w-[25%] rounded-[6px]">
            <p class="text-[16px] text-white">Ficção</p>
         </div>
      </div>
   </div>
</div>