<aside class="h-screen top- w-[20%] bg-white fixed inset-y-0 left-0">

    <div class="m-[24px] mt-[50px]">

        <div class="mb-[58px] flex items-center">
            <img src="/assets/profile-img.png" class="w-[48px] h-[48px] rounded-[48px]" alt="profile">
            <span class="ml-[8px]">Jack Thomeson</span>
        </div>
        
        <div>
            <div>
                <ul>
                    <div class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Início</li>
                    </div>
                    <div class="h-[42px] flex items-center rounded-[4px] bg-blue-700 text-white">
                        <a routerLink="/">
                            <li class="m-[12px]">Filmes</li>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="mt-[42px] mb-[46px]">
                <ul>
                    <div class="h-[40px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Configurações</li>
                    </div>
                    <div class="h-[40px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Sair</li>
                    </div>
                </ul>
            </div>
        </div>

    </div>

</aside>
